<div class="navbar">
	<div class="navbar-top">
		<div class="navbar-url">{URL}</div>
		<div class="navbar-warning"{SHOWWARNING}>(possibly inaccurate URL)</div>
		<div class="navbar-options">
			<a href="/">home</a>
			<a href="{INLINKS}" target="_blank"{SHOWINLINKS}>inlinks</a>
			<a href="{WAYBACK}" target="_blank">wayback</a>
			<a href="{URL}" target="_blank">live</a>
			<a href="{RAW}" target="_blank">raw</a>
			<a href="{HIDE}">hide</a>
		</div>
	</div>
	<div class="navbar-bottom">
		<div class="navbar-archives">
{ARCHIVES}
		</div>
		<div class="navbar-extras">
{SCREENSHOTS}
			<a href="{RANDOM}"><img src="/dice.gif" title="Take me to a random file"></a>
		</div>
	</div>
</div>