						Archive95 is an independent web archive with the goal of preserving early web content that predates or has otherwise gone under the radar of more mainstream web archives. This is achieved by leveraging a bygone genre of CD-ROMs that provided offline approximations of the internet for those who weren't yet connected, and now serve as valuable time capsules of what the web once was.
						<div class="about-break"></div>
						The following sources are represented...
						<ul>
{SOURCES}
						</ul>
						...for a grand total of <b>{TOTAL}</b> URL archives (excluding orphan files).
						<div class="about-break"></div>
						Usually the preserved data will only exist in an altered form, most commonly to reroute web-bound links to offline equivalents. In some cases, the URLs from which the data was sourced are not adequately attributed. Factors like these necessitate a comprehensive restoration process that, while largely effective, is far from perfect, so you may occasionally find unavailable links or missing page elements.
						<div class="about-break"></div>
						Some pages also have screenshots of themselves as they appeared in 1995, sourced from World Wide Web Directory. They are accessible through the navigation bar, and may help form an idea of a page's intended appearance if the archived version is missing images.
						<div class="about-divider"></div>
						This website is open-source; please visit the <a href="https://github.com/WumboSpasm/archive95-server" target="_blank">GitHub repository</a> for any inquiries, improvements, or suggestions you may have. I am always looking for more ways to expand the archive.