<div class="archive95-navbar">
	<div class="archive95-navbar-top">
		<div class="archive95-navbar-url">{URL}</div>
		{MESSAGE}
		<div class="archive95-navbar-options">
			<a href="/">Home</a>
			<a href="{SOURCEINFO}">Source</a>
			{WAYBACK}
			{LIVE}
			<a href="{RAW}" target="_blank">Raw</a>
			{BROWSE}
			{INLINKS}
			<a href="{OPTIONS}">Options</a>
		</div>
	</div>
	<div class="archive95-navbar-bottom">
		<div class="archive95-navbar-archives">
			{ARCHIVES}
		</div>
		<div class="archive95-navbar-extras">
			{SCREENSHOTS}
			{RANDOM}
		</div>
	</div>
</div>