<div class="navbar">
	<div class="navbar-top">
		<div class="navbar-url">{URL}</div>
		{ORPHAN}
		{WARNING}
		<div class="navbar-options">
			<a href="/">home</a>
			<a href="{SOURCEINFO}">source</a>
			{WAYBACK}
			{LIVE}
			<a href="{RAW}" target="_blank">raw</a>
			<a href="{INLINKS}">inlinks</a>
			<a href="{OPTIONS}">options</a>
		</div>
	</div>
	<div class="navbar-bottom">
		<div class="navbar-archives">
			{ARCHIVES}
		</div>
		<div class="navbar-extras">
			{SCREENSHOTS}
			<a href="{RANDOM}"><img src="/images/modern/dice.gif" title="Take me to a random page"></a>
		</div>
	</div>
</div>