<form action="/" method="get">
	<div class="archive95-search-upper">
		<a href="/" title="Go home"><img src="/images/modern/logo.gif"></a>
		<div class="archive95-search-box">
			<input type="text" id="query" name="query" value="{QUERY}" placeholder="Search {TOTAL} archived web pages and media..."{FOCUS}>
			<button type="submit">Search</button>
		</div>
	</div>
	<div class="archive95-search-lower">
		{OPTIONS}
		<div class="archive95-search-content">
			<fieldset>
				<legend>{HEADER}</legend>
				{CONTENT}
			</fieldset>
			{HIGHLIGHTS}
		</div>
	</div>
</form>