:not(div.navbar div) > a[href] img[border] {
	border-color: #00f;
}
:not(div.navbar div) > a[href] img:not([border]) {
	border: 2px solid #00f;
}
dl > dl {
	margin: 0 0 0 40px;
}
blink {
	animation: blink 1s step-start infinite;
}
@keyframes blink {
	25% {
		opacity: 0;
	}
}