						Archive95 is an independent web archive with the goal of preserving early web content that predates or has otherwise gone under the radar of more mainstream web archives. This is primarily achieved through a bygone genre of CD-ROMs that provided offline approximations of the internet for those who weren't yet connected, and now serve as valuable time capsules of what the web once was.
						<div class="about-break"></div>
						The following sources are represented for a total of <b>{TOTAL}</b> files:
						<ul>
{SOURCES}
						</ul>
						See <a href="/sources/">this page</a> for more information about Archive95's sources.
						<div class="about-divider"></div>
						This website is open-source; please visit the <a href="https://github.com/WumboSpasm/archive95-server" target="_blank">GitHub repository</a> for any inquiries, improvements, or suggestions you may have. I am always looking for more ways to expand the archive.