<html>
	<head>
		<title>Data Sources</title>
	</head>
	<body>
		<h1>Data Sources</h1>
		<p>While nowadays the sources that power Archive95 are valuable from a web preservation standpoint, they served different purposes in their time, and so naturally their authors were not afraid to alter or omit data as they saw fit. As a result, each source must be audited and (if necessary) undergo a restoration process before it can be added to the archive.</p>
		<p>This process may include reconstructing URLs or reverting changes to page links, and is usually effective in returning the data to a more "correct" state, although it has its limitations. For example, it is not always possible to restore page elements that have been outright removed rather than transformed, or to map files to the correct URLs when that information is not made explicit (files without a known URL are called "orphans").</p>
		<p>This page not only provides basic information about the sources featured in Archive95, but also the integrity of the data itself, so as to give an idea of the restoration effort required for each source.</p>
		<p>
			<b>Total URLs:</b> {URLTOTAL}<br>
			<b>Total Orphans:</b> {ORPHANTOTAL}<br>
			<b>Grand Total:</b> {GRANDTOTAL}<br>
		</p>
		<hr>
{SOURCES}
		<p><a href="/">Back to homepage</a></p>
	</body>
</html>