<h2 id="{ID}">{TITLE}<img src="/images/sources/{ID}.gif" align="right"></h2>
<dl>
	<dt><b>Author:</b> {AUTHOR}</dt>
	<dt><b>Archive Date:</b> {ARCHIVEDATE}</dt>
	<dt><b>Publish Date:</b> {PUBLISHDATE}</dt>
	<dt><b>Link(s):</b></dt>
	{LINKS}
</dl>
<dl>
	<dt><b>Description:</b></dt>
	<dd>{DESCRIPTION}</dd>
	<dt><b>Data Integrity:</b></dt>
	{INTEGRITY}
	<dt><b>Remediations:</b></dt>
	{REMEDIATIONS}
</dl>
<dl>
	<dt><b>Statistics:</b></dt>
</dl>
{STATS}
<dl>
	<dt><b>ID:</b> <a href="#{ID}">{ID}</a></dt>
</dl>
<hr>