.archive95-navbar {
	height: 120px;
	z-index: 99;
	position: fixed;
	bottom: 0;
	left: 0;
}
/* Manually define default style with high specificity to prevent page styling from overriding it */
.archive95-navbar * {
	color: black;
	font-size: initial;
	font-weight: normal;
	font-style: normal;
}

/* Insert spacer underneath document so navbar doesn't obscure text */
:root::after {
	height: 120px;
	clear: both;
	display: block;

	content: '';
}