.archive95-navbar {
	width: 100%;
	min-height: 120px;
	text-align: left;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 6px;

	color: black;
	font-family: 'Times New Roman', Times, serif;
	background-color: white;
	border-top: 1px solid black;
}
.archive95-navbar a:link {
	color: blue;
}
.archive95-navbar a:active {
	color: red;
}
.archive95-navbar a:visited {
	color: purple;
}

.archive95-navbar-top, .archive95-navbar-bottom,
.archive95-navbar-options, .archive95-navbar-archives,
.archive95-navbar-extras, .archive95-navbar-extras a {
	display: flex;
	flex-direction: row;
}

.archive95-navbar-top {
	padding: 4px 8px 0;
	gap: 8px;
}
.archive95-navbar-url {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	font-weight: bold;
}
.archive95-navbar-message {
	color: #555555;
	flex-shrink: 0;
}
.archive95-navbar-options {
	flex-grow: 1;
	justify-content: end;
	gap: 8px;
}

.archive95-navbar-bottom {
	padding: 2px 8px 4px;
	overflow-x: auto;
	gap: 12px;
}
.archive95-navbar-archives {
	flex-grow: 1;
	gap: 6px;
}
.archive95-navbar-archives > div {
	width: 84px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.archive95-navbar-archives > div > div {
	font-weight: bold;
}
.archive95-navbar-archives a {
	display: inline-flex;
}
.archive95-navbar-active {
	outline: 2px solid blue;
}
.archive95-navbar-extras {
	gap: 12px;
}
.archive95-navbar-extras a {
	align-items: center;
}