:not(div.navbar *) > a[href]:link img {
	border-color: blue;
}
:not(div.navbar *) > a[href]:visited img {
	border-color: purple;
}
:not(div.navbar *) > a[href]:active img {
	border-color: red;
}
:not(div.navbar *) > a[href] img:not([border]) {
	border-width: 2px;
	border-style: solid;
}
dl > dl {
	margin: 0 0 0 40px;
}
blink {
	animation: blink 1s step-start infinite;
}

@keyframes blink {
	25% {
		opacity: 0;
	}
}