.archive95-search-upper {
	width: 384px;
	margin: 0 auto;
	text-align: center;
}
.archive95-search-box {
	display: flex;
}
#query {
	margin-right: 4px;
	flex-grow: 1;
}

.archive95-search-lower {
	max-width: 640px;
	margin: 12px auto;
	display: flex;

	gap: 12px;
}
.archive95-search-lower fieldset {
	margin-bottom: 4px;

	border: 2px solid lightgray;
}

.archive95-search-options {
	width: 144px;

	flex-shrink: 0;
}
.archive95-search-options > div {
	padding-top: 4px;
	text-align: center;
}
#source {
	max-width: 100%;
}

.archive95-search-content {
	flex-grow: 1;
}
.archive95-search-break {
	height: 8px;
}
.archive95-search-highlights {
	margin: 2px 0;

	font-size: 90%;
}
.archive95-search-highlights dd {
	margin-left: 24px;
}
.archive95-search-highlights dd:not(:last-of-type) {
	margin-bottom: 4px;
}

.archive95-search-navigate {
	display: flex;
	gap: 6px;
}
.archive95-search-navigate:first-of-type {
	margin-bottom: 8px;
	padding-bottom: 6px;

	border-bottom: 1px solid lightgray;
}
.archive95-search-navigate-total {
	flex-grow: 1;
}
.archive95-search-navigate-button {
	flex-shrink: 0;
}

.archive95-search-result {
	display: flex;
	flex-direction: column;
	word-wrap: anywhere;
}
.archive95-search-result:not(:last-of-type) {
	margin-bottom: 8px;
	padding-bottom: 6px;

	border-bottom: 1px solid lightgray;
}
.archive95-search-result-url {
	margin-bottom: 4px;

	font-size: 80%;
}
.archive95-search-result-source {
	margin-left: 6px;

	color: #555555;
}
.archive95-search-result-text {
	font-size: 90%;
}