body {
	margin: 0 auto;

	color: black;
	font-family: 'Times New Roman', Times, serif;
	background-color: white;

	-webkit-text-size-adjust: none;
}
fieldset {
	margin-bottom: 4px;
}

.upper {
	width: 384px;
	margin: 0 auto;
	text-align: center;
}
.search {
	display: flex;
}
.links {
	margin: 6px 0;
	display: flex;
	justify-content: center;
}
.links > :not(:last-child)::after {
	margin: 0 0.5rem;

	color: gray;
	content: '|';
}
#query {
	margin-right: 4px;
	flex-grow: 1;
}

.lower {
	max-width: 640px;
	margin: 0 auto 16px;
	display: flex;

	gap: 12px;
}

.options {
	width: 144px;

	flex-shrink: 0;
}
.options > div {
	padding-top: 4px;
	text-align: center;
}
#source {
	max-width: 100%;
}

.content {
	flex-grow: 1;
}
.home-break {
	height: 8px;
}
.home-highlights {
	margin: 2px 0;

	font-size: 90%;
}
.home-highlights dd {
	margin-left: 24px;
}
.home-highlights dd:not(:last-of-type) {
	margin-bottom: 4px;
}

.navigate {
	display: flex;
	gap: 6px;
}
.navigate:first-of-type {
	margin-bottom: 8px;
	padding-bottom: 6px;

	border-bottom: 1px solid lightgray;
}
.navigate-total {
	flex-grow: 1;
}
.navigate-button {
	flex-shrink: 0;
}

.result {
	display: flex;
	flex-direction: column;
	word-wrap: anywhere;
}
.result:not(:last-of-type) {
	margin-bottom: 8px;
	padding-bottom: 6px;

	border-bottom: 1px solid lightgray;
}
.result-url {
	margin-bottom: 4px;

	font-size: 80%;
}
.result-source {
	margin-left: 6px;

	color: #555555;
}
.result-text {
	font-size: 90%;
}