body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

	color: black;
	font-family: 'Times New Roman', Times, serif;
	background-color: white;

	-webkit-text-size-adjust: none;
}

.archive95-titlebar {
	padding: 4px 8px;
	display: flex;
	gap: 12px;

	border-bottom: 2px solid lightgray;
}
.archive95-titlebar-spacer {
	flex-grow: 1;
}

.archive95-content {
	padding: 8px;
}
.archive95-content h1:first-child {
	margin-top: 4px;
}
.archive95-content :not(div):last-child {
	margin-bottom: 0;
}