		<h2>About this website</h2>
		<p>Archive95 is an independent web archive with the goal of preserving early web content that predates or has otherwise gone under the radar of more mainstream web archives. This is primarily achieved through a bygone genre of CD-ROMs that provided offline approximations of the internet for those who weren't yet connected, and now serve as valuable time capsules of what the web once was.</p>
		<h2>Sources</h2>
		<p>The following sources are represented for a total of <b>{TOTAL}</b> files:</p>
		<ul>
{SOURCES}
		</ul>
		<p>See <a href="/sources/">this page</a> for more information about Archive95's sources.</p>
		<h2>Contributing</h2>
		<p>This website's source code is available on GitHub <a href="https://github.com/WumboSpasm/archive95-server" target="_blank">here</a>. I welcome any questions, suggestions, or pull requests.</p>
		<h2>Surprise me!</h2>
		<a href="{RANDOM}"><img src="/compat/dice.gif" alt="Dice" title="Take me to a random page" border="0"></a>