		<h2>About this website</h2>
		<p>Archive95 is an independent web archive with the goal of preserving early web content that predates or has otherwise gone under the radar of more mainstream web archives. This is achieved by leveraging a bygone genre of CD-ROMs that provided offline approximations of the internet for those who weren't yet connected, and now serve as valuable time capsules of what the web once was.</p>
		<p>Sometimes the preserved data will have had all of its web-bound links modified to point to offline equivalents; other times the data will not be adequately attributed to its corresponding URLs. Factors like these necessitate a comprehensive restoration process that, while largely effective, is not perfect, so you may occasionally encounter issues such as missing page elements or non-functional links.</p>
		<p>Some pages also have screenshots of themselves as they appeared in 1995, sourced from World Wide Web Directory. They are accessible through the navigation bar, and may help form an idea of a page's intended appearance if the archived version is missing images.</p>
		<h2>Sources</h2>
		<p>The following sources are represented...</p>
		<ul>
{SOURCES}
		</ul>
		<p>...for a grand total of <b>{TOTAL}</b> URL archives (excluding orphan files).</p>
		<h2>Contributing</h2>
		<p>This website is open-source; please visit the <a href="https://github.com/WumboSpasm/archive95-server">GitHub repository</a> for any inquiries, improvements, or suggestions you may have. I am always looking for more ways to expand the archive.</p>
		<h2>Surprise me!</h2>
		<a href="{RANDOM}"><img src="/compat/dice.gif" alt="Dice" title="Take me to a random page" border="0"></a>